.calendar-header{
    color: white;
    padding-top: 45px;
    text-align: center;
}

/* CSS Carousel style */

::ng-deep .p-carousel-items-content > .p-carousel-items-container{
    margin: 100px -115px 0px 150px;
}

::ng-deep .p-carousel .p-carousel-content .p-carousel-prev {
    color: white;
    font-size: 1.5rem;
    margin-left: 10px;
}

::ng-deep .p-carousel .p-carousel-content .p-carousel-next {
    color: white;
    font-size: 1.5rem;
    margin-right: 10px;
}